services:
  # 1. The Backend API Service
  - name: axion-flow-backend-app
    type: web
    runtime: docker
    plan: free
    rootDir: ./backend-api
    dockerfilePath: ./Dockerfile
    healthCheck:
      path: /api/health
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: AI_SERVICE_URL
        value: http://axion-flow-ai-service-app:8000

      - key: JWT_SECRET
        sync: false
      - key: SCREENSHOTONE_API_KEY
        sync: false
      - key: SENDGRID_API_KEY
        sync: false
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: SMTP_FROM
        sync: false
      - key: FRONTEND_URL 
        sync: false
